.input-diapazon {
  display: flex;
  flex-direction: column;
  margin-top: 44px;
}

.input-diapazon__wrapper_1 {
  display: flex;
  height: 24px;
  border: none;
  border-width: 1px;
}

.input-diapazon__wrapper_2 {
  display: flex;
  height: 40px;
  border: none;
  border-width: 1px;
  margin-top: 17px;
  align-items: center;
}

.input-diapazon__wrapper_3 {
  display: flex;
  height: 24px;
  border: none;
  border-width: 1px;
  margin-top: 13px;
}

.input-diapazon__price-text {
  display: flex;
  width: 136px;
}

.input-diapazon__title-price-text {
  display: flex;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #000000;
}

.input-diapazon__button-clear {
  display: flex;
  width: 85px;
  padding-left: 51px;
  justify-content: right;
}

.input-diapazon__price-input {
  display: flex;
  width: 124px;
}

.input-diapazon__price-tire {
  display: flex;
  width: 13px;
  height: 0px;
  color: #000000;
  margin-left: 4.5px;
  margin-right: 4.5px;
  border: solid;
  border-width: 1px;
}
