.input-text {
  display: flex;
  align-items: center;
  background: #f3f2f1;
  border-radius: 4px;
  height: 44px;
}

.input-text__input {
  margin-left: 10px;
  border: none;
  outline: none;

  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;

  background: #f3f2f1;
  color: #414141;
}
