.PageCatigory__FilterName {
	display: flex;
	align-items: center;				
	background: #F3F2F1;
	border-radius: 4px;
    height: 44px;

}

.PageCatigory__FilterNameInput {
	margin-left: 10px;		
	border: none;
	outline: none;

    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;

    background: #F3F2F1;
    color: #414141;    
}

