.Global__HTab135 {
	display: flex;
	width: 135px;	
}

.Global__HTab116 {
	display: flex;
	width: 116px;	
}

.Global__HTab47 {
	display: flex;
	width: 47px;	
}

.Global__HTab40 {
	display: flex;
	width: 40px;	
}

.Global__HTab24 {
	display: flex;
	width: 24px;	
}

.Global__HTab16 {
	display: flex;
	width: 24px;	
}