.page-catigory__path {
  margin-top: 17px;
  display: flex;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  flex-direction: row;
  gap: 10px;
  color: #414141;
}

.page-catigory__header {
  display: flex;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  color: #414141;
}

.page-catigory__body {
  width: 1208px;
  margin-top: 60px;
  display: flex;
  height: 100%;
  gap: 40px;
  flex-wrap: wrap;
}

.page-catigory__body-panel-wrapper {
  display: flex;
  flex-direction: row;
  margin-top: 40px;
  gap: 40px;
}

.page-catigory__body-panel-filter {
  display: flex;
  flex-direction: column;
  width: 272px;
  height: 546px;
  border: none;
  border-width: 1px;
}

.page-catigory__body-panel-products {
  display: flex;
  flex-direction: column;
  width: 896px;
  border: none;
  border-width: 1px;
}

.page-catigory__body-panel-apply-filter {
  display: flex;
  height: 40px;
  margin-top: 40px;
}

.page-catigory__show-more {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
  height: 40px;
  width: 100%;
}

.page-catigory__show-more-simple-button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 157px;
}

.page-catigory__page-navigator {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 48px;
  height: 40px;
  width: 100%;
}
