.main-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #e5e5e5;
  font-family: Rubik;
}

.main-menu__wrapper {
  display: flex;
  align-items: center;
  height: 72px;
  width: 1440px;
  background: #ffffff;
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.main-menu__merch {
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 152px;
  height: 32px;
}
