.MainMenu__Tab116 {
	display: flex;
	width: 116px;	
}

.MainMenu__Tab40 {
	display: flex;
	width: 40px;	
}

.MainMenu__Tab24 {
	display: flex;
	width: 24px;	
}

.MainMenu__Tab16 {
	display: flex;
	width: 24px;	
}