.Footer__Tab135 {
	display: flex;
	width: 116px;	
}

.Footer__Tab116 {
	display: flex;
	width: 116px;	
}

.Footer__Tab40 {
	display: flex;
	width: 40px;	
}

.Footer__Tab47 {
	display: flex;
	width: 40px;	
}