.button-with-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
}

.button-with-icon__img {
  display: flex;
  height: 24px;
  width: 24px;
}
