.Page {
	display: flex;	
	align-items: center;	
	justify-content: center;	
	font-family: Rubik;		
	background: #E5E5E5;
}      

.PageWrapper__Tab116 {
	display: flex;
	width: 116px;
}
    
.PageWrapper {
	display: flex;		
	align-items: center;	
	font-size: 36px; 	
	width: 1440px;
	background: #FBF8EC;
}      

.PageContainer {
	display: flex;		
	justify-content: center;
	font-size: 36px; 
	flex-direction: column;
	gap: 10px;	
	width: 1208px;	
}
    
.PageBottom {
	display: flex;	
	height: 40px;	
}