.product-card {
  display: flex;
  width: 272px;
  height: 349px;
  background-color: #ffffff;
  flex-direction: column;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}

.product-card__print {
  display: flex;
  height: 160px;
  width: 100%;
}

.product-card__print-interlayer {
  display: block;
  position: relative;
  height: 100%;
  width: 100%;
}

.product-card__print-icon {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.product-card__button-love {
  display: block;
  position: absolute;
  right: 8px;
  top: 8px;
  height: 32px;
  width: 32px;
}

.product-card__data {
  margin-left: 8px;
  margin-right: 8px;
  display: flex;
  width: 254px;
  flex-direction: column;
}

.product-card__prices {
  display: flex;
  height: 60px;
  width: 100%;
}

.product-card__price-1 {
  display: flex;
  height: 100%;
  width: 50%;
  flex-direction: column;
}

.product-card__price-2 {
  display: flex;
  height: 100%;
  width: 50%;
  flex-direction: column;
}

.product-card__price-1-digit {
  display: flex;
  height: 27px;
  width: 100%;
  align-items: center;
  justify-content: left;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 150%;
  color: #414141;
}

.product-card__price-1-caption {
  display: flex;
  height: 18px;
  width: 100%;
  align-items: center;
  justify-content: left;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  color: #bfbfbf;
}

.product-card__price-2-digit {
  display: flex;
  height: 27px;
  width: 100%;
  align-items: center;
  justify-content: right;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #606060;
}

.product-card__price-2-caption {
  display: flex;
  height: 18px;
  width: 100%;
  align-items: center;
  justify-content: right;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  color: #bfbfbf;
}

.product-card__name {
  display: flex;
  height: 48px;
  width: 100%;
  align-items: center;
  justify-content: left;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #414141;
  word-wrap: normal;
}
