.switcher-with-text {
  display: flex;
  height: 24px;
  width: 100%;
  border: none;
  border-width: 1px;
  margin-top: 50px;
}

.switcher-with-text__text {
  display: flex;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #414141;
}
